src/**
test/**
node_modules/**
.vscode/**
.claude/**
.e2e-workspace/**
.github/**
images/**
.gitignore
**/*.md
!README.md
!CHANGELOG.md
demo/**
tsconfig.json
esbuild.config.mjs
**/*.map
**/*.ts
!dist/**
